*{margin:0;
  padding:0}

body{
  background-color:#A1CBFF;
}

header{
  width:100%;
  overflow:hidden;
  background-color:#2D4161;
  margin-bottom:20px;
}

/*Sirve para centrar el contenido*/
.wrapper{
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden; /*Lo que no cabe en el div no aparece, ver propiedad css overflow*/
}

header .logo{
  color:#CFC9C8;
  font-size:50px;
  line-height:200px;
  float:left;
}

header nav{
  float:right;
  line-height:200px;
}

header nav a{
  display:inline-block; /*NPI*/
  color:#CFC9C8;
  text-decoration:none;
  padding:10px 20px;
  line-height:normal;
  font-size:20px;
  font-weight:bold;
  -webkit-transition:all 100ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

header nav a:hover{
  background-color:#f56f3a;
  border-radius:50px;
}

/*Hace que el header se quede en pantalla*/
.header2{ 
  position:fixed;
  height:100px;
}

/*Propiedades del logo del header*/
.header2 .logo{
  line-height:100px;
  font-size:20px;
}

.header2 nav{
  line-height:100px;
  font-size:20px;
}

.content p{
  margin-bottom:1em;
}
/*Centra el contenido que se encuentra en el header*/
@media screen and (max-width:1050px){
  header .logo,
  header nav{
    position: absolute;
    width:100%;
    text-align:center;
    line-height:75px;
  }
}

  .header2{
  height:auto;
}

  .header2 .logo,
.header2 nav{
  line-height:50px;
}
/* paleta de colores
#A1CBFF body - azul claro
#2D4161 header - azul oscuro
#CFC9C8 letras header - gris claro