#menu li {
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	padding: 10px;
	background-color: #000000;
	color: #fff;
}

#submenu li {
	padding : 0;
	display : inline;
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff;
}
