body {
    background-image: linear-gradient(#cedbe9,#26558b);
}

header {
    width: 100%;
    overflow: hidden;
    background: #fffffa;
    margin:auto; 
    height: 100px;
}

.encabezado {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .encabezado {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 100px;
    float: left;
}


#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;

}


#nav {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
    height: 40px;
    list-style: none outside none;
    margin: 45px auto;
    text-shadow: 0 -2px 3px #5858FA;
    width: 900px;

    /* border radius */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* box shadow */
    -moz-box-shadow: 0px 4px 4px #cecece;
    -webkit-box-shadow: 0px 4px 4px #cecece;
    box-shadow: 0 4px 4px #7e9bf1;

    /* gradient */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color: #5f5f5f;
}


#nav li {
    border-bottom: 1px solid #575757;
    border-left: 1px solid #929292;
    border-right: 1px solid #5d5d5d;
    border-top: 1px solid #797979;
    display: block;
    float: left; 
    height: 34px;
    position: relative;
    width: 105px;
}
#nav > li:first-child {
    border-left: 0 none;
    margin-left: 5px;
}
#nav ul {
    left: -9999px;
    position: absolute;
    top: -9999px;
    z-index: 2;
}
#nav ul li {
    background: none repeat scroll 0 0 #838383;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    line-height: 34px;
    outline: medium none;
    text-align: center;
    text-decoration: none;

    /* gradient */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color: #5f5f5f;
}

/* keyframes #animation */
@-webkit-keyframes animation {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}
@-moz-keyframes animation {
    0% {
        -moz-transform: scale(1);
    }
    30% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1.1);
    }
}
#nav li > a:hover {
    /* CSS3 animation */
    -webkit-animation-name: animation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: animation;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

#nav li:hover ul {
    left: 0;
    top: 34px;
    width: 150px;
}


#datos {
    font-family: Arial;
    list-style: none;
    text-align: left, justify-content;
    text-decoration: none; 
    font-size: 20px;
    margin: 100px;
    color: silver;
  } 



h3 {
    text-decoration: bold, italic;
    text-align: left;
    position:absolute;
    top: 100px;
    right: 900px;
}




 .articulo {
    width: 200px;
    height: 200px;
    border:1px solid black;
    padding: 5px;
    margin: 10px;
    float:left;    
 }


.vendido::before{
    content:"VENDIDO";
    background-color: red;    
    color: white;
}

.novedad::before{
    content:"NOVEDAD";
    background-color: blue;
    color: white;
}

.agotado::before{
    content:"AGOTADO";
    background-color: green;
    color: white;
}

.rebajado::before{
    content:"REBAJADO";
    background-color: yellow;
    color: black;
}


 .esquina {
    width: 50%;
    font-size: 15px;
    text-align: center;
    margin-left: -25px;
    
    -webkit-transform: rotate(-43deg);
       -moz-transform: rotate(-43deg);
        -ms-transform: rotate(-43deg);
         -o-transform: rotate(-43deg);
            transform: rotate(-43deg);

 }
  

.vendido:link,:visited{

    color:black;
    text-decoration: none;

}

.vendido:hover{
    font-size: 120%;
    font-weight: bold;
    background-color: lime;
}


.vendido:active{

    color: white;
    background-color: blue;
    font-weight: bold;
    font-style: italic;
}

.clear{
    float: none;
    clear: both;
}

.redes{
    /*border: 1px solid #fff;    */
    position: relative;
    float: left;
    margin: 0px;
    padding: 2px;
    top: 100px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    position: relative;
    margin: 10px;
    padding: 14px;
    
}




