<div data-role="main">
        <!-- *************** Inicio del contenedor principal *******-->
        <div class="ui-content">
            <a href="#coche.png" data-rel="popup" data-transition="fade" data-position-to="window">
                <img src="img/coche.png" class="popphoto" alt="Android" style="width:30%">
            </a>
        </div>
        <div class="ui-content">
            <article class="articulo">
                <p class="vendido esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="novedad esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/	twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="agotado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 2</div>
            </article>
            <article class="articulo">
                <p class="rebajado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 1</div>
            </article>
            <article class="articulo">
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="vendido esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="novedad esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="agotado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="rebajado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 1</div>
            </article>
            <article class="articulo">
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="vendido esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="novedad esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="agotado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
            <article class="articulo">
                <p class="rebajado esquina"></p>
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 1</div>
            </article>
            <article class="articulo">
                <div class="redes"><a href="https://facebook.com"><img width="20px" src="img/facebook.png"></a></div>
                <div class="redes"><a href="https://twitter.com/?lang=es"><img width="20px" src="img/twitter.png"></a></div>
                <div class="redes"><a href="https://google.es"><img width="20px" src="img/carrito.png"></a></div>
                <div class="redes">Unidades 0</div>
            </article>
        </div>
    </div> <!-- *************** Fin del contenedor principal *******-->