#contenedor{
	overflow: hidden;
	height: 800px;
}

 #div0 {
     position: absolute;
     width: auto;
     height: auto;
     top: 100px;
     left: 350px;
     text-align: center;
     z-index: 200;
 }
 
 #div1 {
     position: absolute;
     width: auto;
     height: auto;
     top: 60px;
     left: 10px;
     text-align: center;
 }

 #div2 {
     position: absolute;
     width: auto;
     height: auto;
     top: 60px;
     right: 10px;
     text-align: center;
 }

 #div3 {
     position: absolute;
     width: auto;
     height: auto;
     top: 200px;
     left: 250px;
     text-align: left;
     z-index: 300;
 }